{%- set repliesMap = ctx.project.replies -%}

{%- set definitionCUuid = "a5310d62-c613-4d4d-a527-be6f6536bbdf" -%}
{%- set fairsharingQUuid = "2dbfaeaa-ecd5-44c4-8d91-d71e50c1e1e7" -%}
{%- set fairsharingPath = [definitionCUuid, fairsharingQUuid]|reply_path -%}

{%- set fairsharingItem = {} -%}

{%- set fairsharingReply = repliesMap[fairsharingPath] -%}
{%- if not fairsharingReply -%}
    {{ ""|error("FAIRsharing resource not selected") }}
{%- elif fairsharingReply.value.value.type != "IntegrationType" or not fairsharingReply.value.value.raw -%}
    {{ ""|error("FAIRsharing resource not selected from integration") }}
{%- endif -%}

{%- set recordRaw = fairsharingReply.value.value.raw -%}

{%- if not recordRaw.url -%}
    {{ "Failed process FAIRsharing item (no URL)"|error }}
{%- endif -%}
{%- if not recordRaw.homepage -%}
    {{ "Failed process FAIRsharing item (no homepage)"|error }}
{%- endif -%}
{%- if not recordRaw.abbreviation -%}
    {{ "Failed process FAIRsharing item (no abbreviation)"|error }}
{%- endif -%}
{%- if not recordRaw.description -%}
    {{ "Failed process FAIRsharing item (no description)"|error }}
{%- endif -%}
{%- if not recordRaw.name -%}
    {{ "Failed process FAIRsharing item (no name)"|error }}
{%- endif -%}

{%- set fshUrl = recordRaw.url -%}
{%- if recordRaw.doi %}
  {%- set fshUrl = "https://doi.org/" ~ recordRaw.doi -%}
{%- endif -%}

{%- set fshVars = {
    "fshUrl": fshUrl,
    "fshName": recordRaw.name,
    "fshAbbreviation": recordRaw.abbreviation,
    "fshDescription": recordRaw.description,
    "fshHomepage": recordRaw.homepage,
} -%}
