{%- import "src/uuids.j2" as uuids with context -%}
{%- import "src/submissions.j2" as submissions with context -%}
{%- macro validateOrcid(value) -%}
  {%- if value|length == 19 -%}
    {%- set parts = value.split('-') -%}
    {%- if parts|length == 4 -%}
      {%- for part in parts -%}
        {%- if part|length != 4 -%}
          {{- value|error('Invalid ORCID') -}}
        {%- endif -%}
      {%- endfor -%}
    {%- else -%}
      {{- value|error('Invalid ORCID') -}}
    {%- endif -%}
  {%- else -%}
    {{- value|error('Invalid ORCID') -}}
  {%- endif -%}
{%- endmacro -%}
{%- set dc = ctx|to_context_obj -%}
{%- set km = ctx.knowledgeModel -%}
{%- set repliesMap = ctx.questionnaire.replies -%}
{%- set fairsharingItem = {} -%}
{%- set orcid = repliesMap[uuids.orcidPath]|reply_str_value -%}
{%- if not orcid -%}
    {{ ""|error("Author's ORCID is missing") }}
{%- endif -%}
{{- validateOrcid(orcid) -}}
{%- set fairsharingReply = repliesMap[uuids.fairsharingPath] -%}
{%- if not fairsharingReply -%}
    {{ ""|error("FAIRsharing resource not selected") }}
{%- elif fairsharingReply.value.value.type != "IntegrationType"  -%}
    {{ ""|error("FAIRsharing resource not selected from integration") }}
{%- else -%}
    {%- set username = secrets["FAIRSHARING_USER"] -%}
    {%- set password = secrets["FAIRSHARING_PASS"] -%}
    {%- set headers = {"Accept": "application/json", "Content-Type": "application/json"} -%}
    {%- set creds = {"user": {"login": username, "password": password}} -%}
    {%- set r1 = requests.post("https://api.fairsharing.org/users/sign_in", headers=headers, json=creds) -%}
    {%- set token = "" -%}
    {%- if r1.ok -%}
        {%- set token = r1.json()['jwt'] -%}
    {%- else -%}
        {{ ""|error("Failed to authenticate to FAIRsharing API") }}
    {%- endif -%}
    {%- set recordUrl = "https://api.fairsharing.org/fairsharing_records/" ~ fairsharingReply.value.value.id -%}
    {%- set headers = {"Accept": "application/json", "Content-Type": "application/json", "Authorization": "Bearer " ~ token} -%}
    {%- set r2 = requests.get(recordUrl, headers=headers) -%}
    {%- if r2.ok -%}
        {%- set fairsharingItem = r2.json()['data'] -%}
    {%- else -%}
        {{ ""|error("Failed process FAIRsharing API response") }}
    {%- endif -%}
{%- endif -%}

{%- set types = [] -%}
{%- set typeItems = repliesMap[uuids.typesPath]|reply_items -%}
{%- for item in typeItems -%}
    {%- set typeReply = repliesMap[[uuids.typesPath, item, uuids.typeQUuid]|reply_path] -%}
    {%- if typeReply and typeReply.value.value.id -%}
        {%- do types.append(typeReply.value.value.id) -%}
    {%- elif typeReply -%}
        {%- do types.append(typeReply.value.value.value) -%}
    {%- endif -%}
{%- endfor -%}
{%- set resources = [] -%}
{%- set resourceItems = repliesMap[uuids.resourcesPath]|reply_items -%}
{%- for item in resourceItems -%}
    {%- set resource = repliesMap[[uuids.resourcesPath, item, uuids.resourceQUuid]|reply_path]|reply_str_value -%}
    {%- if resource -%}
        {%- do resources.append(resource) -%}
    {%- endif -%}
{%- endfor -%}

{%- if not fairsharingItem.get("attributes", None) -%}
    {{ error("Failed process FAIRsharing API response") }}
{%- endif -%}
{%- set specificationUrl = repliesMap[uuids.specPath]|reply_str_value -%}
{%- set fshUrl = fairsharingItem["attributes"]["url"] -%}
{%- if fairsharingItem["attributes"]["doi"] %}
  {%- set fshUrl = "https://doi.org/" ~ fairsharingItem["attributes"]["doi"] -%}
{%- endif -%}
{%- if fairsharingItem["attributes"]["metadata"]["abbreviation"] and 
       fairsharingItem["attributes"]["metadata"]["abbreviation"] != fairsharingItem["attributes"]["metadata"]["name"] -%}
  {%- set fshName = fairsharingItem["attributes"]["metadata"]["abbreviation"] ~ " | " ~ 
                    fairsharingItem["attributes"]["metadata"]["name"] -%}
{%- else -%}  
  {%- set fshName = fairsharingItem["attributes"]["metadata"]["name"] -%}
{%- endif -%}
{%- set fshDescription = fairsharingItem["attributes"]["metadata"]["description"] -%}
{%- set fshHomepage = fairsharingItem["attributes"]["metadata"]["homepage"] -%}
@prefix : <http://purl.org/nanopub/temp/fair-resource/{{ dc.qtn.uuid }}/{{ dc.doc.uuid }}#> .
@prefix np: <http://www.nanopub.org/nschema#> .
@prefix dct: <http://purl.org/dc/terms/> .
@prefix fip: <https://w3id.org/fair/fip/terms/> .
@prefix orcid: <https://orcid.org/> .
@prefix prov: <http://www.w3.org/ns/prov#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix skos: <http://www.w3.org/2004/02/skos/core#> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .
@prefix npx: <http://purl.org/nanopub/x/> .
@prefix schema: <http://schema.org/> .
@prefix doap: <http://usefulinc.com/ns/doap#> .

:Head {
  : a np:Nanopublication ;
    np:hasAssertion :assertion ;
    np:hasProvenance :provenance ;
    np:hasPublicationInfo :pubinfo .
}

:assertion {
  <{{ fshUrl }}> a fip:FAIR-Enabling-Resource .
  <{{ fshUrl }}> a fip:Available-FAIR-Enabling-Resource .

  # FAIRsharing information
  <{{ fshUrl }}> rdfs:label "{{ fshName }}" .
  <{{ fshUrl }}> rdfs:comment "{{ fshDescription }}" .
  <{{ fshUrl }}> rdfs:seeAlso <{{ fshUrl }}> .
  <{{ fshUrl }}> schema:url <{{ fshHomepage }}> .
  
  # FER types
  {%- for type in types %}
  <{{ fshUrl }}> a <{{ type }}> .
  {%- else %}
  # - no FER type specified
  {%- endfor %}

  # Further information (resource URLs)
  {%- for resource in resources %}
  <{{ fshUrl }}> rdfs:seeAlso <{{ resource }}> .
  {%- else %}
  # - no further resources specified
  {%- endfor %}

  # Specification URL
  {%- if specificationUrl %}
  <{{ fshUrl }}> doap:implements <{{ specificationUrl }}> .
  {%- else %}
  # - no specification URL specified
  {%- endif %}
}

:provenance {
  :assertion dct:creator orcid:{{ orcid }} .
  :assertion prov:wasDerivedFrom <{{ fshUrl }}> .
}

:pubinfo {
  : dct:created "{{ dc.doc.created_at|datetime_format("%Y-%m-%dT%H:%M:%SZ") }}"^^xsd:dateTime ;
    dct:creator <{{ dc.config.client_url }}> ;
    prov:wasDerivedFrom <https://w3id.org/fip/wizard/{{ dc.qtn.uuid }}> ;
    dct:license <https://creativecommons.org/publicdomain/zero/1.0/> .
  
  : npx:describes <{{ fshUrl }}> .
  {%- if submissions.nanopubs|length > 0 %}
  : npx:supersedes <{{ submissions.nanopubs[0].uri }}> .
  {%- endif %}
}
