{%- set authorCUuid = "9bb9c090-1a20-4a3d-80d7-046add6846e7" -%}
{%- set orcidQUuid = "ad122e10-bf6c-4884-b41f-487591e78ea8" -%}
{%- set orcidPath = [authorCUuid, orcidQUuid]|reply_path -%}

{%- set definitionCUuid = "a5310d62-c613-4d4d-a527-be6f6536bbdf" -%}
{%- set fairsharingQUuid = "2dbfaeaa-ecd5-44c4-8d91-d71e50c1e1e7" -%}
{%- set fairsharingPath = [definitionCUuid, fairsharingQUuid]|reply_path -%}
{%- set typesQUuid = "4b87b2ac-6a47-4546-b061-a7b89ead4f5b" -%}
{%- set typesPath = [definitionCUuid, typesQUuid]|reply_path -%}
{%- set typeQUuid = "bb041d99-4690-4ff1-b2cd-0cb7bdeaa6fc" -%}
{%- set resourcesQUuid = "839921eb-c82b-4f77-a2b8-6a2e359c7404" -%}
{%- set resourcesPath = [definitionCUuid, resourcesQUuid]|reply_path -%}
{%- set resourceQUuid = "3d283194-228a-45d5-a2e0-490bcff4f455" -%}
{%- set specQUuid = "52b9b218-75bb-476f-9f76-99e9c872e940" -%}
{%- set specPath = [definitionCUuid, specQUuid]|reply_path -%}
